{% extends 'base.html' %}
{% load static %}
{% block content %}

   <main>

      <!-- breadcrumb area start -->
      <section class="breadcrumb__area  breadcrumb__pt-310 include-bg p-relative"
         data-background="/static/assets/img/contact/contact-1.jpg">
         <div class="ac-about-shape-img z-index-1">
            <img src="{% static 'assets/img/breadcrum/ab-shape-1.1.jpg' %}" alt="">
         </div>
         <div class="container">
            <div class="row">
               <div class="col-xxl-12">
                  <div class="breadcrumb__content p-relative z-index-1">
                     <h3 class="breadcrumb__title">Blog Details</h3>
                      <a href="/contact" class="tp-btn-white-border">Lets work together <i class="far fa-arrow-right"></i></a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- breadcrumb area end -->


      <!-- postbox area start -->
      <div class="postbox__area pt-120 pb-120">
         <div class="container">
            <div class="row">
               <div class="col-xxl-8 col-xl-8 col-lg-8 col-12">
                  <div class="postbox__wrapper">
                     <article class="postbox__item format-image transition-3">
                        <div class="postbox__content">
                           <p><img class="w-100" src="{% static 'assets/img/blog/blog1.png' %}" alt=""></p>
                           <div class="postbox__meta">
                              <span><a href="#"><i class="fal fa-user-circle"></i> Alextina </a></span>
                              <span><a href="#"><i class="fal fa-clock"></i> Dec 28, 2023</a></span>
                              <span><a href="#"><i class="fal fa-comment-alt-lines"></i>(04) Coments</a></span>
                              <span><a href="#"><i class="fal fa-eye"></i> 1,006 views</a></span>
                           </div>
                           <h3 class="postbox__title">
                              Devgrids: Your Source for Premium Quality Themes for Developers
                           </h3>
                           <div class="postbox__text">
                              <p>In today's digital landscape, developers play a crucial role in shaping the online world. Whether you're just starting your journey or have years of experience, having access to high-quality themes can significantly enhance your development process. That's where Devgrids, a leading provider of premium quality themes, comes in. In this blog, we will delve into the offerings of Devgrids and explore how they cater to developers at every stage.
                              </p>
                              <ol>
                                 <li style="font-weight: 600;font-size: 17px;">1. A Wide Range of Themes:</li><br>
                                 <p>At Devgrids, we understand that developers have diverse needs and preferences when it comes to themes. That's why we offer a vast collection of themes across various platforms and frameworks. From striking WordPress themes to elegant Bootstrap templates, we have you covered. Our themes are meticulously designed and developed to provide a seamless and visually appealing experience for both developers and end-users.</p>
                                 <br>
                                 <li style="font-weight: 600;font-size: 17px;">2. Impeccable Design and Functionality:</li><br>
                                 <p>We take great pride in crafting themes that not only look stunning but also offer exceptional functionality. Our team of talented designers and developers work tirelessly to create themes that are aesthetically pleasing, user-friendly, and optimized for performance. With Devgrids themes, you can impress your clients, engage your audience, and stand out from the competition.</p>
                                 <br>
                                 <li style="font-weight: 600;font-size: 17px;">3. Responsive and Mobile-First Approach:</li><br>
                                 <p>In an era where mobile devices dominate web usage, having a responsive website is crucial. Devgrids understands the importance of mobile-friendly designs and follows a mobile-first approach. Our themes are built with responsive layouts, ensuring a seamless experience across devices of all sizes. Embracing our themes means delivering an optimal experience to your users, regardless of the device they use.</p>
                                 <br>
                                 <li style="font-weight: 600;font-size: 17px;">4. Customization and Flexibility:</li><br>
                                 <p>We believe in empowering developers with the freedom to customize and tailor themes according to their unique requirements. Devgrids themes are highly customizable, allowing you to easily modify colors, layouts, typography, and more. With clean and well-structured code, our themes provide a solid foundation for customization while maintaining optimal performance.</p>
                                 <br>
                                 <li style="font-weight: 600;font-size: 17px;">5. Dedicated Support and Documentation:</li><br>
                                 <p>Devgrids is committed to providing exceptional support to our customers. We understand that developers may have questions or require assistance during theme implementation. That's why we offer comprehensive documentation and a dedicated support team to address any queries or issues that may arise. We are here to ensure your experience with Devgrids themes is smooth and hassle-free.</p>
                              </ol>
<br>
                              <p><span style="font-weight: 600;">Conclusion:</span>
                                 Devgrids is a trusted source for developers seeking premium quality themes that combine stunning design, functionality, and flexibility. With a wide range of themes, a mobile-first approach, customization options, and dedicated support, Devgrids empowers developers to create exceptional websites and applications. Elevate your development journey with Devgrids and unlock your true potential in the digital landscape.</p>
                           </div>

                           <!-- <div class="postbox__thumb2">
                              <div class="row gx-50">
                                 <div class="col-xl-6">
                                    <p><img src="{% static 'assets/img/blog-details/blog-big-4.jpg' %}" alt=""></p>
                                 </div>
                                 <div class="col-xl-6">
                                    <p><img src="{% static 'assets/img/blog-details/blog-sm-5.jpg' %}" alt=""></p>
                                 </div>
                              </div>
                           </div> -->
                           <div class="postbox__social-wrapper">
                              <div class="row">
                                 <div class="col-xl-6 col-lg-12">
                                    <div class="postbox__tag tagcloud">
                                       <span>Tag</span>
                                       <a href="blog-details.html">Business</a>
                                       <a href="blog-details.html">Design</a>
                                       <a href="blog-details.html">Themeforest</a>
                                       <a href="blog-details.html">Template</a>
                                    </div>
                                 </div>
                                 <div class="col-xl-6 col-lg-12">
                                    <div class="postbox__social text-xl-end text-start">
                                       <span>Share</span>
                                       <a href=""><i class="fab fa-linkedin tp-linkedin"></i></a>
                                       <a href=""><i class="fab fa-pinterest tp-pinterest"></i></a>
                                       <a href=""><i class="fab fa-facebook tp-facebook" ></i></a>
                                       <a href=""><i class="fab fa-twitter tp-twitter"></i></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </article>
                  </div>
               </div>
               <div class="col-xxl-4 col-xl-4 col-lg-4">
                  <div class="sidebar__wrapper">
                     <div class="sidebar__widget mb-40">
                        <h3 class="sidebar__widget-title">Search Here</h3>
                        <div class="sidebar__widget-content">
                           <div class="sidebar__search">
                              <form action="#">
                                 <div class="sidebar__search-input-2">
                                    <input type="text" placeholder="Search your keyword...">
                                    <button type="submit"><i class="far fa-search"></i></button>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                     <div class="sidebar__widget mb-40">
                        <h3 class="sidebar__widget-title">Categories</h3>
                        <div class="sidebar__widget-content">
                           <ul>
                              <li><a href="">Web Design<span>26</span></a></li>
                              <li><a href="">Devlopment <span>30</span></a></li>
                              <li><a href="">Branding <span>71</span></a></li>
                              <li><a href="">MOtion Design <span>56</span></a></li>
                              <li><a href="">UI/UX Deisgn <span>60</span></a></li>
                              <li><a href="">Graphic Design <span>99</span></a></li>
                           </ul>
                        </div>
                     </div>
                     <div class="sidebar__widget mb-40">
                        <h3 class="sidebar__widget-title">Pages</h3>
                        <div class="sidebar__widget-content">
                           <ul>
                              <li><a href="">Web Design <span><i class="fal fa-angle-right"></i></span></a></li>
                              <li><a href="">Devlopment <span><i class="fal fa-angle-right"></i></span></a></li>
                              <li><a href="">Branding <span><i class="fal fa-angle-right"></i></span></a></li>
                              <li><a href="">MOtion Design<span><i class="fal fa-angle-right"></i></span></a></li>
                              <li><a href="">UI/UX Deisgn  <span><i class="fal fa-angle-right"></i></span></a></li>
                              <li><a href="">Graphic Design  <span><i class="fal fa-angle-right"></i></span></a></li>
                           </ul>
                        </div>
                     </div>
                     <!-- <div class="sidebar__widget mb-40">
                        <h3 class="sidebar__widget-title">Recent Post</h3>
                        <div class="sidebar__widget-content">
                           <div class="sidebar__post rc__post">
                              <div class="rc__post mb-20 d-flex align-items-center">
                                 <div class="rc__post-thumb mr-20">
                                    <a href="blog-details.html"><img src="{% static 'assets/img/blog-details/blog-sm-1.jpg' %}" alt=""></a>
                                 </div>
                                 <div class="rc__post-content">
                                    <div class="rc__meta">
                                       <span>4 March. 2022</span>
                                    </div>
                                    <h3 class="rc__post-title">
                                       <a href="blog-details.html">Don’t Underestimate The Software</a>
                                    </h3>
                                 </div>
                              </div>
                              <div class="rc__post mb-20 d-flex align-items-center">
                                 <div class="rc__post-thumb mr-20">
                                    <a href="blog-details.html"><img src="{% static 'assets/img/blog-details/blog-sm-2.jpg' %}" alt=""></a>
                                 </div>
                                 <div class="rc__post-content">
                                    <div class="rc__meta">
                                       <span>4 March. 2022</span>
                                    </div>
                                    <h3 class="rc__post-title">
                                       <a href="blog-details.html">Designing Human-Machine Interfaces..</a>
                                    </h3>
                                 </div>
                              </div>
                              <div class="rc__post mb-20 d-flex align-items-center">
                                 <div class="rc__post-thumb mr-20">
                                    <a href="blog-details.html"><img src="{% static 'assets/img/blog-details/blog-sm-3.jpg' %}" alt=""></a>
                                 </div>
                                 <div class="rc__post-content">
                                    <div class="rc__meta">
                                       <span>4 March. 2022</span>
                                    </div>
                                    <h3 class="rc__post-title">
                                       <a href="blog-details.html">Web Design Done Well: Excellent</a>
                                    </h3>
                                 </div>
                              </div>
                              <div class="rc__post mb-20 d-flex align-items-center">
                                 <div class="rc__post-thumb mr-20">
                                    <a href="blog-details.html"><img src="{% static 'assets/img/blog-details/blog-sm-4.jpg' %}" alt=""></a>
                                 </div>
                                 <div class="rc__post-content">
                                    <div class="rc__meta">
                                       <span>4 March. 2022</span>
                                    </div>
                                    <h3 class="rc__post-title">
                                       <a href="blog-details.html">Don’t Underestimate The Software </a>
                                    </h3>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div> -->
                     <div class="sidebar__widget mb-40">
                        <h3 class="sidebar__widget-title">Tags</h3>
                        <div class="sidebar__widget-content">
                           <div class="tagcloud">
                              <a href="">landing</a>
                              <a href="">Charity</a>
                              <a href="">apps</a>
                              <a href="">Education </a>
                              <a href="">data</a>
                              <a href="">book</a>
                              <a href="">Design</a>
                              <a href="">website</a>
                              <a href="">landing page</a>
                              <a href="">data</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- postbox area end -->

   </main>

{% endblock %}
